/* CSS Document */
*{ 	margin:0px;
	padding:0px;
}

body {	
	margin:0px;
	padding:0px;
	font-family: georgia;	
	background-color: #2c1100;
	background-image: url("images/motif_tapisserie.jpg");
	background-position:top;
	background-repeat:repeat-x;
	}
	


div#conteneur {
	text-align:left;
	width:100%;
	margin:0 auto;
	background-position:top center;
	background-image: url("images/head.jpg");
	background-repeat:no-repeat;
}

#flags{height: 15px;left: 245px;margin:0 auto;position:relative;top: 238px;width:50px;z-index:998;}


ul#menu li{	
display:inline;
}

ul#menu{	
	width:800px;
	margin:0 auto;
	font-family: arial;	
	font-size : 11px;
	vertical-align:top;
	position:relative;
	top:-295px;
}

ul#datelieu li{	
	border: 0px solid;	
	float:left;
	display:inline;
	margin-top:-15px;
}

#datelieu{
	text-transform:uppercase;
	position: absolute;	
    top: 50px;
    left: 75px;
	font-family: georgia;	
	font-size : 11px;
	text-align:left;
	color:#643f2a;
	font-weight:bold;
	width:255px;
	margin:0 auto;
}


#datess{ position: relative; 
right: 170px; 
font-family: georgia; 
font-size : 11px; 
text-align:right; 
color:#643f2a; 
font-weight:bold; 
width:80px; 
margin:0 auto; 
bottom:113px; }
/*\*/
html*#datess{ position: relative; right: 170px; font-family: georgia; font-size : 11px; text-align:right; color:#643f2a; font-weight:bold; width:80px; margin:0 auto; bottom:98px; 
_bottom:113px;/*only IE6 PC*/
}/**/

*+html #datess{ position: relative; 
right: 170px; 
font-family: georgia; 
font-size : 11px; 
text-align:right; 
color:#643f2a; 
font-weight:bold; 
width:80px; 
margin:0 auto; 
bottom:113px; }

a{  text-decoration:none;
	color:white;
}

li{	
	text-align:left;
	height: 30px;
	width:auto;
	float:left;
	position: relative;
	margin-left:15px;
}


#titlepage{
    height: 29px;
    left: -85px;
	position: relative;
	margin:0 auto;
    top: -29px;
    width: 229px;
    z-index: 998;
}
div#contenu{
width:876px;
margin:0 auto;}

.contenu{
background-image: url("images/motif_haut.jpg");
background-position:top;
background-repeat:no-repeat;
background-color: #3e2f12;
}

h2{
margin-top:30px;
color:#fad5a0;
font-family: georgia;	
font-size : 24px;
font-weight:bold;
padding-left: 20px;
margin-right:20px;
letter-spacing:-1px;
position:relative;
text-transform:uppercase;
}

h3{
color:#ffffff;
font-family: georgia;	
font-size : 12px;
font-weight:inherit;
padding-left: 20px;
margin-right:20px;
letter-spacing:-1px;
}

p{
color:#ffffff;
font-family: arial;	
font-size : 12px;
padding-left: 10px;
text-align:left;
margin-right:20px;
}

.imgaccueil{
	padding-top:10px;
	padding-left:20px;
	margin-right:20px;
}
		
ul#view{	
	margin-top:-3px;
	margin-left:20px;
	
}

ul#view li{	
		float:left;			
		display:inline;
		margin-left:0px;
}

.gauche{
vertical-align:top;
width:400px;
}
.droite{
vertical-align:top;
padding-top:100px;
width:476px;
}
#btnnews{
margin-top:-50px;
margin-left:70px;
}

#date{	
position:relative;
margin-top:35px;
margin-left:20px;
}

div#article1{
	float:left;
	width:auto;
	height:183px;
	margin:15px;
	}
	
div#footer{
width:876px;
margin:0 auto;
}

.contenu1{
background-color: #3e2f12;
}

h5{
font-family:georgia;
font-size: 9px;
font-weight:lighter;
color:#FFFFFF;
text-align:center;}